.card-container{
    /* border: 5px  #90afc5; */
    border-radius: 8px;    
    /* background-color: #763626; */
    /* background-image: url(https://thumbs.dreamstime.com/b/textura-de-la-roca-volc%C3%A1nica-3514277.jpg); */
    /* background-image: url(https://image.freepik.com/foto-gratis/superficie-textura-madera-oscura_24836-84.jpg); */
    background-image: url(./img/madera.jpg);
    background-size: contain;
}

body{
    /* background-color: #90afc5; */
    background-image: url(./img/cielo.jpg);
    background-size: cover;
}
.navbar{
    /* background-color: #2a3132; */
    background-image: url(./img/carbon.jpg);
    background-size: cover;
}

.card-info{
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    /* background-color: #336b87; */
    background-image: url(https://get.pxhere.com/photo/texture-floor-wall-asphalt-pattern-space-crack-grunge-blue-material-concrete-cracked-grey-cement-flooring-901352.jpg);
    background-size: cover;
}